In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stats_framestack.csv')

In [5]:
df

,Unnamed: 0,first_action,health_begin,health_end,n_burnt_animal,n_burnt_crossbow,n_killed_animal,n_destroyed_crossbow,n_eaten_animal,n_acquired_key,n_unlocked,n_flown_away
0,1,"((0.0, 0.0, 0.0), 0)",0.9995,0.997,0,0,0,0,0,0,0,0
1,2,"((0.0, 0.0, 0.0), 1)",0.9965,0.994,0,0,0,0,0,0,0,0
2,3,"((0.0, 1.0, 0.0), 0)",0.9935,0.991,0,0,0,0,0,0,0,0
3,4,"((-1.0, 0.0, 0.0), 0)",0.9905,0.988,0,0,0,0,0,0,0,0
4,5,"((0.0, 0.0, -1.0), 0)",0.9875,0.985,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
328,329,"((0.0, 0.0, 0.0), 1)",0.0155,0.013,0,0,0,0,0,0,0,0
329,330,"((0.0, 0.0, 0.0), 1)",0.0125,0.010,0,0,0,0,0,0,0,0
330,331,"((0.0, 0.0, 0.0), 1)",0.0095,0.007,0,0,0,0,0,0,0,0
331,332,"((0.0, 0.0, 0.0), 1)",0.0065,0.004,0,0,0,0,0,0,0,0
332,333,"((0.0, 0.0, 0.0), 1)",0.0035,0.001,0,0,0,0,0,0,0,0