In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stats.csv')

In [8]:
df[df.n_eaten_animal.gt(0)]

,Unnamed: 0,first_action,health_begin,health_end,n_burnt_animal,n_burnt_crossbow,n_killed_animal,n_destroyed_crossbow,n_eaten_animal,n_acquired_key,n_unlocked,n_flown_away
472,473,"((0.0, 0.0, 0.0), 2)",-0.3165,-0.319,0,0,0,0,1,0,0,0
553,554,"((0.0, 0.0, 0.0), 2)",-0.4595,-0.462,0,0,0,0,1,0,0,0
3342,3343,"((0.0, 0.0, 0.0), 2)",-8.7265,-8.729,0,0,0,0,1,0,0,0
3352,3353,"((0.0, 0.0, 0.0), 2)",-8.6565,-8.659,0,0,0,0,1,0,0,0
3696,3697,"((0.0, 0.0, 0.0), 2)",-9.5885,-9.591,0,0,0,0,1,0,0,0
4294,4295,"((0.0, 0.0, 0.0), 2)",-11.2825,-11.285,0,0,0,0,1,0,0,0
5651,5652,"((0.0, 0.0, 0.0), 2)",-15.2535,-15.256,0,0,0,0,1,0,0,0
6636,6637,"((0.0, 0.0, 0.0), 2)",-18.1085,-18.111,0,0,0,0,1,0,0,0
6711,6712,"((0.0, 0.0, 0.0), 2)",-18.2335,-18.236,0,0,0,0,1,0,0,0
7115,7116,"((0.0, 0.0, 0.0), 2)",-19.3455,-19.348,0,0,0,0,1,0,0,0
7794,7795,"((0.0, 0.0, 0.0), 2)",-21.2825,-21.285,0,0,0,0,1,0,0,0
8001,8002,"((0.0, 0.0, 0.0), 2)",-21.8035,-21.806,0,0,0,0,1,0,0,0
9708,9709,"((0.0, 0.0, 0.0), 2)",-26.8245,-26.827,0,0,0,0,1,0,0,0
9988,9989,"((0.0, 0.0, 0.0), 2)",-27.5645,-27.567,0,0,0,0,1,0,0,0

In [9]:
df

,Unnamed: 0,first_action,health_begin,health_end,n_burnt_animal,n_burnt_crossbow,n_killed_animal,n_destroyed_crossbow,n_eaten_animal,n_acquired_key,n_unlocked,n_flown_away
0,1,"((0.0, 0.0, 0.0), 1)",0.9995,0.997,0,0,0,0,0,0,0,0
1,2,"((0.0, 0.0, -1.0), 0)",0.9965,0.994,0,0,0,0,0,0,0,0
2,3,"((0.0, 0.0, -1.0), 0)",0.9935,0.991,0,0,0,0,0,0,0,0
3,4,"((0.0, 0.0, 0.0), 1)",0.9905,0.988,0,0,0,0,0,0,0,0
4,5,"((0.0, 0.0, 0.0), 0)",0.9875,0.985,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,"((0.0, 1.0, 0.0), 0)",-27.5855,-27.588,0,0,0,0,0,0,0,0
9996,9997,"((0.0, 1.0, 0.0), 0)",-27.5885,-27.591,0,0,0,0,0,0,0,0
9997,9998,"((0.0, 1.0, 0.0), 0)",-27.5915,-27.594,0,0,0,0,0,0,0,0
9998,9999,"((0.0, 1.0, 0.0), 0)",-27.5945,-27.597,0,0,0,0,0,0,0,0
9999,10000,"((0.0, 1.0, 0.0), 0)",-27.5975,-27.600,0,0,0,0,0,0,0,0